{% extends "base.html.twig" %}

{% block title %}myDevices{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function() {
            /*
            //$('.header__btnBack').attr('src', "/{{ app }}/images/homePage.png");
            $('.header__btnNavDrawer').attr('src', "/{{ app }}/images/Back.png");
            //$('.header__btnNavDrawer').removeClass('btnChangeDrawerStats');
            $('nav').css('display', 'none');
            $('.header__btnNavDrawer').click(function(){
                window.location.href="/{{ app }}";
            });
            */
            $('.btnBack').click(function(){
                window.location.href="/{{ app }}";
            });
            $('.pageTitle').html("My Devices");

            var tmp = $('.bob')
            console.log(tmp.attr("data-ident"))
            console.log(tmp.data("ident"))

            $('.btnLink').click(function(){
                var data = $(this).data();
                if(data.hasOwnProperty('ident'))
                {
                    var ident = $(this).data("ident")
                    $.ajax({
                        type: 'GET',
                        url: "{{iotUrl}}/api/cmd/" + ident + "/auth",
                        timeout: 5000,
                        status: {
                            'deviceid':"{{ device['ident'] }}",
                        }
                    }).done((data) => {
                        console.log("success!")
                    }).fail( (data) => {
                        console.log("failure, your should be put down!")
                    })
                }
            });
        });
    </script>
{% endblock %}

{% block body %}

    <!-- <div class="mainPanel"> --><br><br>
        <label class="mainPanel__labelDevicesInfo">Available Device List</label><br><br>
        {% for device in devices %}
            {% if device.auth is defined %}
                <a class="btnLink" data-ident="{{device['id']}}">
                    <button class="btnLighting btnDevices">
                        <img src="/{{ app }}/images/gradient_light_1.png" class="btnDevices__icon" align="center">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="btnDevices__name">Sync: {{ device['name'] }}?</span>
                    </button>
                </a>
            {% else %}
                <a href="/{{ app }}/devices/my-light/{{ device['id'] }}" class="btnLink">
                    <button class="btnLighting btnDevices">
                        <img src="/{{ app }}/images/gradient_light_1.png" class="btnDevices__icon" align="center">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="btnDevices__name">{{ device['name'] }}</span>
                    </button>
                </a>
            {% endif %}
        {% endfor %}
    <!-- </div> -->

{% endblock %}