{% extends "base.html.twig" %}

{% block title %}myDevices{% endblock %}

{% block footer %}
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">

    <script>
        $(document).ready(function(){
            $bri = 200;
            $('#homeImage').attr('src', "/{{ app }}/images/homePage.png");
            $('#menuImage').attr('src', "/{{ app }}/images/Back.png");
            $('#menuImage').removeClass('btn_menu_drawer');
            $('nav').css('display', 'none');
            $('#menuImage').click(function(){
                window.location.href="/{{ app }}/devices/my-devices";
            });
            $('.offImage').click(function(){
                if($('.offImage').attr('src') === "/{{ app }}/images/Off.png"){
                    $.ajax({
                        type: 'GET',
                        url: "{{ url }}/power/on",
                        status: {
                            'bri':$bri,
                            'deviceid':'{{ light['id'] }}',
                            'on':true
                        }
                    }).done((data) => {
                        if(data.indexOf("error") == -1){
                            $('#showBrightness').html($bri);
                        }else{
                            $('#showBrightness').html("Access failed.");
                        }
                        $('.offImage').attr('src', "/{{ app }}/images/On.png");
                    }).fail( (data) => {
                        $('#showBrightness').html("Connection failed");
                    })
                }
                else{
                    $.ajax({
                        type: 'GET',
                        url: "{{ url }}/power/off",
                        status: {
                            'bri':$bri,
                            'deviceid':'{{ light['id'] }}',
                            'on':false
                        }
                    }).done((data) => {
                        if(data.indexOf("error") == -1){
                            $('#showBrightness').html($bri);
                        }else{
                            $('#showBrightness').html("Access failed.");
                        }
                        $('.offImage').attr('src', "/{{ app }}/images/Off.png");
                    }).fail( (data) => {
                        $('#showBrightness').html("Connection failed");
                    })
                }
            });

            $( "#lightSlider" ).slider( {
                min: 0,
                max: 255,
                step: 10,
                value: 128,
                //disabled: true,
                slide:function(event, ui) {
                    $bri = ui.value;
                    $('#showBrightness').html($bri);
                    // $('#showBrightness').html($bri);
                    $.ajax({
                        type: 'GET',
                        url: "{{ url }}/bri/" + $bri,
                        status: {
                            'bri':($bri),
                            'deviceid':'{{ light['id'] }}',
                            'on':true
                        }
                    }).done( (data) => {
                        if(data.indexOf("error") == -1){
                            $('#showBrightness').html($bri);
                        }else{
                            $('#showBrightness').html("Access failed.");
                        }
                    }).fail( (data) => {
                        $('#showBrightness').html("Connection failed");
                    })

                }
            });
        });
    </script>

{% endblock %}

{% block body %}

    <div id="main"><br>
        <img src="/{{ app }}/images/LightBulb.png" id="lightBulbImage" width=50px height=50px><br><br>
        <label class="labelMyDevices labelDeviceName">{{ light['name'] }}</label><br><br><br><br>
        <img class="offImage" src="/{{ app }}/images/Off.png" width=140px height=80px><br><br>

        <div id="lightSlider"></div><br>

        <label id="labelBrightness" class="labelMyDevices">Brightness:</label><span id="showBrightness" class="labelMyDevices"></span><br><br>
        <img src="/{{ app }}/images/Device_Stats.png" id="usageStats" width=90px height=80px><br>
        <p class="copyright">&copy; Meme Team All Rights Reserved</p>
    </div>

{% endblock %}