{% extends "base.html.twig" %}

{% block title %}myDevices{% endblock %}

{% block footer %}
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">

    <script>
        $(document).ready(function(){
            $bri = 200;
            {#console.log({{ light['id'] }});#}
            {#if({{ light['cap']['power']['now']}})#}
                {#$('.offImage').attr('src', "/{{ app }}/images/On.png");#}
            {#else#}
                {#$('.offImage').attr('src', "/{{ app }}/images/Off.png");#}

            $('.header__btnBack').attr('src', "/{{ app }}/images/homePage.png");
            $('.header__btnNavDrawer').attr('src', "/{{ app }}/images/Back.png");
            $('.header__btnNavDrawer').removeClass('btnChangeDrawerStats');
            
            $('nav').css('display', 'none');
            $('.header__btnNavDrawer').click(function(){
                window.location.href="/{{ app }}/devices/my-devices";
            });

            $('.header__btnBack').click(function(){
                window.location.href="/{{ app }}";
            });
            $('#offImage').click(function(){
                if($('#offImage').attr('src') === "/{{ app }}/images/Off.png"){
                    // power on
                    $.ajax({
                        type: 'GET',
                        url: "{{ iotUrl }}/power/on",
                        status: {
                            'bri':$bri,
                            'deviceid':'{{ light['id'] }}',
                            'on':true
                        }
                    }).done((data) => {
                        console.log(data);
                        {# if(data.indexOf("error") == -1){ #}
                            $('#showBrightness').html($bri);
                        {# }else{
                            $('#showBrightness').html("Access failed.");
                        } #}
                        $('#offImage').attr('src', "/{{ app }}/images/On.png");
                    }).fail( (data) => {
                        console.log(data);
                        $('#showBrightness').html("Connection failed");
                    })
                }
                else{
                    // power off
                    $.ajax({
                        type: 'GET',
                        url: "{{ iotUrl }}/power/off",
                        status: {
                            'bri':$bri,
                            'deviceid':'{{ light['id'] }}',
                            'on':false
                        }
                    }).done((data) => {
                        console.log(data);
                        {# if(data.indexOf("error") == -1){ #}
                            $('#showBrightness').html($bri);
                        {# }else{
                            $('#showBrightness').html("Access failed.");
                        } #}
                        $('#offImage').attr('src', "/{{ app }}/images/Off.png");
                    }).fail( (data) => {
                        console.log(data);
                        $('#showBrightness').html("Connection failed");
                    })
                }
            });

            $( "#lightSlider" ).slider( {
                min: 0,
                max: 255,
                step: 10,
                value: 128,
                //disabled: true,
                slide:function(event, ui) {
                    $bri = ui.value;
                    $('#showBrightness').html($bri);
                    // $('#showBrightness').html($bri);
                    $.ajax({
                        type: 'GET',
                        url: "{{ iotUrl }}/bri/" + $bri,
                        status: {
                            'bri':($bri),
                            'deviceid':'{{ light['id'] }}',
                            'on':true
                        }
                    }).done( (data) => {
                        {# if(data.indexOf("error") == -1){ #}
                            $('#showBrightness').html($bri);
                        {# }else{
                            $('#showBrightness').html("Access failed.");
                        } #}
                    }).fail( (data) => {
                        $('#showBrightness').html("Connection failed");
                    })

                }
            });

            $(".mainPanel__colorPicker").spectrum({
                color: "#f00"
            });
        });
    </script>

    <script>
        jQuery(function($){
            $(".colorPicker__palette").spectrum({
                showInput: true,
                flat: true,

                change: function(color){
                    $colorData = $(".colorPicker__palette").spectrum("get");
                    $('#showColor').html($colorData.toRgbString());
                    {# TODO: send ajax request #}
                }
            });
            $(".colorPickerBtn").click(function(){

                if($('.colorPicker').hasClass('off')){
                    $('.colorPicker').removeClass('off');
                    $('.colorPicker').animate({'margin-right':'28%'},300).addClass('on');
                }else{
                    $('.colorPicker').addClass('off')
                    $('.colorPicker').animate({'margin-right':'0%'},300);
                    $('.colorPickerBtn').animate({'margin-right':'0%'},300);
                }
            });
        });
    </script>

{% endblock %}

{% block body %}

    <div class="mainPanel"><br>
        <img src="/{{ app }}/images/LightBulb.png" id="lightBulbImage" class="mainPanel__icon" width=50px height=50px><br><br>
        <label class="mainPanel__labelDeviceName mainPanel__labelDeviceInfo-color-white">{{ light['name'] }}</label><br><br><br><br>
        <img id="offImage" class="mainPanel__offImage" src="/{{ app }}/images/Off.png" width=140px height=80px><br><br>

        <div class="mainPanel__lightSlider" id="lightSlider"></div><br>

        <label id="labelBrightness" class="labelMyDevices mainPanel__labelDeviceInfo-color-white">Brightness:&nbsp;</label><span id="showBrightness" class="mainPanel__labelDeviceInfo-color-white"></span><br>
        <label id="labelColor" class="labelMyDevices mainPanel__labelDeviceInfo-color-white">Color:&nbsp;</label><span id="showColor" class="mainPanel__labelDeviceInfo-color-white"></span><br><br>
        <img  class="deviceBtns__statIcon" src="/{{ app }}/images/Device_Stats.png" id="usageStats" width=90px height=90px>
        <button class="colorPickerBtn"><img src="/{{ app }}/images/ColorPicker.png" class="colorPickerBtn__icon" width=90px height=90px></button>
        <div class="colorPicker off"><span class="colorPicker__palette" /></div>
    </div>

{% endblock %}