{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block css %}
<!-- <link rel="stylesheet" href="../ReHome.css" type="text/css" media="screen"> -->
{% endblock %}
{% block body %}

    <!-- <h1>Welcome</h1> -->

    {% if current_user %}
        <!-- Hello {{ current_user.username }}. -->
        <div class="mainPanel"><br><br>
            <!-- href should be "/{{  app }}/Devices/my-devices". -->
            <!-- But my-devices page needs to connect to the Brian's server and it doesn't show anything without the server. -->
            <!-- my-light.twig also needs Brian's server to get device id. -->
            <!-- So, I'm testing the design in philips-light page that doesn't need to connect to the server. -->
            <a href="/{{ app }}/Devices/philips-light"><input type="button" value="MY DEVICES" class="mainPanel__btnMenu"></a><br><br>
            <a href="/{{ app }}/Devices/usage-statistics"><input type="button" value="USAGE STATISTICS" class="mainPanel__btnMenu"></a><br><br>
            <input type="button" value="ADD A DEVICE" class="mainPanel__btnMenu"><br><br>
            <input type="button" value="MANAGE USERS" class="mainPanel__btnMenu"><br>
        </div>
    {% else %}
        <div class="mainPanel"><br><br>
            <a href="/{{ app }}/login"><input type="button" value="LOGIN" id="loginButton" class="mainPanel__btnMenu"></a><br><br>
            <a href="/{{ app }}/accounts/register"><input type="button" value="REGISTER" id="registerButton" class="mainPanel__btnMenu"></a><br><br>
        </div>
    {% endif %}

{% endblock %}
