{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block footer %}
    <script>
        $(document).ready(function() {
            $('.pageTitle').html("IOD Home");
        });
    </script>
{% endblock %}
{% block css %}

{% endblock %}
{% block body %}

    <!-- <h1>Welcome</h1> -->

    {% if current_user %}
        <!-- Hello {{ current_user.username }}. -->
        <a class="mainPanel"><br>
            <a href="/{{ app }}/Devices/my-devices" class="btnLink">
                <div class="mainPanel__btnMenuLink">
                    <button class="mainPanel__btnMenu btnLighting">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span>MY DEVICES</span>
                    </button>
                </div>
            </a><br>
            <a href="/{{ app }}/Devices/usage-statistics" class="btnLink">
                <div class="mainPanel__btnMenuLink">
                    <button class="mainPanel__btnMenu btnLighting">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span>USAGE STATISTICS</span>
                    </button>
                </div>
            </a><br>
            <a href="#" class="btnLink">
                <div class="mainPanel__btnMenuLink">
                    <button class="mainPanel__btnMenu btnLighting">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span>ADD A DEVICE</span>
                    </button>
                </div>
            </a>
        </div>
        <p class="mainPanel__copyright">&copy; Meme Team All Rights Reserved</p>
    {% else %}
        <div class="mainPanel"><br><br>
            <a href="/{{ app }}/login" class="btnLink">
                <button class="btnLighting">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span>LOGIN</span>
                </button>{#<input type="button" value="LOGIN" id="loginButton" class="mainPanel__btnMenu">#}
            </a><br><br>
            <a href="/{{ app }}/accounts/register" class="btnLink">
                <button class="btnLighting">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span>REGISTER</span>
                </button>{#<input type="button" value="REGISTER" id="registerButton" class="mainPanel__btnMenu">#}
            </a><br><br>
        </div>
        <p class="mainPanel__copyright">&copy; Meme Team All Rights Reserved</p>
    {% endif %}

{% endblock %}