{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block css %}
<!-- <link rel="stylesheet" href="../ReHome.css" type="text/css" media="screen"> -->
{% endblock %}
{% block body %}

    <!-- <h1>Welcome</h1> -->

    {% if current_user %}
        <!-- Hello {{ current_user.username }}. -->
        <div class="mainPanel"><br><br>
            <a href="/{{ app }}/Devices/philips-light"><input type="button" value="MY DEVICES" class="mainPanel__btnMenu"></a><br><br>
            <input type="button" value="USAGE STATISTICS" class="mainPanel__btnMenu"><br><br>
            <input type="button" value="ADD A DEVICE" class="mainPanel__btnMenu"><br><br>
            <input type="button" value="MANAGE USERS" class="mainPanel__btnMenu"><br>
            <!-- <p class="mainPanel__copyright">&copy; Meme Team All Rights Reserved</p> -->
        </div>
        <!-- <a href="/{{ app }}/logout">Log out</a> -->
    {% else %}
        <div class="mainPanel"><br><br>
            <a href="/{{ app }}/login"><input type="button" value="LOGIN" id="loginButton" class="mainPanel__btnMenu"></a><br><br>
            <a href="/{{ app }}/accounts/register"><input type="button" value="REGISTER" id="registerButton" class="mainPanel__btnMenu"></a><br><br>
            <!-- <p class="mainPanel__copyright">&copy; Meme Team All Rights Reserved</p> -->
            <!-- <a href="/{{ app }}/login">Login</a> or <a href="/{{ app }}/accounts/register">Register</a><br> -->
        </div>
    {% endif %}

{% endblock %}
