<!DOCTYPE html>
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/{{ app }}/css/style.css">
    {#<link rel="stylesheet" href="/{{ app }}/css/ReHome.css">#}
    <link rel="stylesheet" href="/{{ app }}/css/Hamburger.css">
    <link rel="stylesheet" href="/{{ app }}/css/loginPage.css">
    <link rel="stylesheet" href="/{{ app }}/css/signUpPage.css">
    <link rel="stylesheet" href="/{{ app }}/css/myDevices.css">
    <link rel="stylesheet" href="/{{ app }}/css/philipsHueLightBulb.css">
    <link rel="stylesheet" href="/{{ app }}/css/usageStatistics.css">
	<link rel="stylesheet" href="/{{ app }}/css/newHeader.css">
    {#<link rel="stylesheet" href="/bootstrap/bootstrap.css" />#}
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> #}
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
{#<body>#}
	<div class="navDrawer">
		<div class="currentUser"><br>
			<img src="/{{ app }}/images/My_Profile_Icon.png" class="currentUser__userIcon" width=60px height=60px><br><br>
			<label class="currentUser__userName">{{ current_user.username }}</label>
		</div>
		<div class="drawerMenu">
			<button class="btnDrawerMenu"><img src="/{{ app }}/images/My_Profile_Button.png" class="btnDrawerMenu__icon" align="center"><span class="btnDrawerMenu__name">My Profile</span></button>
			<button class="btnDrawerMenu"><img src="/{{ app }}/images/Help_Icon.png" class="btnDrawerMenu__icon" align="center"><span class="btnDrawerMenu__name">Help</span></button>
			<button class="btnDrawerMenu"><img src="/{{ app }}/images/Support_Icon.png" class="btnDrawerMenu__icon" align="center"><span class="btnDrawerMenu__name">Support</span></button>
			<button class="btnDrawerMenu"><img src="/{{ app }}/images/Devices_Icon.png" class="btnDrawerMenu__icon btnDrawerMenu__icon-size-wider" align="center"><span class="btnDrawerMenu__name btnDrawerMenu__name-margin-wider">Supported Devices</span></button>
			<a href="/{{ app }}/logout"><button class="btnDrawerMenu"><img src="/{{ app }}/images/Logout_Icon.png" class="btnDrawerMenu__icon" align="center"><span class="btnDrawerMenu__name">Logout</span></button></a>
			<input type="button" value="Close Menu" class="btnChangeDrawerStats btnDrawerMenu btnDrawerMenu-color-white hamburgerButton">
            {#<button class="btnChangeDrawerStats btnDrawerMenu hamburgerButton"></button>#}
        </div>
    </div>
    <header>
        <div class="headContainer">
            <img src="/{{ app }}/images/Gradient_Title5.png" alt="GradBK" style="width:100%; height: 50%;  background-attachment: scroll;">
            {% if current_user %}
            <div class="headContainerTopLeft">
                <div class="hamburgerButton" onclick="myFunction(this)">
                    <div class="hamburgerButtonBar1"></div>
                    <div class="hamburgerButtonBar2"></div>
                    <div class="hamburgerButtonBar3"></div>
                </div>
            </div>

            <div class="headContainerTopRight">
                <img src="/{{ app }}/images/Back_But1.png" alt="BackBT" style="width:100%; height: 100%;cursor: pointer;" class="btnBack">
            </div>
            {% endif %}
            <div class="pageTitle"></div>

        </div>
    </header>
    {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
    {% endfor %}

    {% block body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <script>
        $(function(){
            $('.header__btnBack').attr('src', "/{{ app }}/images/home.png");
            $('.header__btnNavDrawer').attr('src', "/{{ app }}/images/Menu.png");
            $('.hamburgerButton').click(function(){
                $('.navDrawer').toggleClass('open');
            });

            $('.header__btnBack').click(function(){
                window.location.href="/{{ app }}/logout";
            });
        });

        /*
        function myFunction(x){
            x.classList.toggle("change");
        }
        */
    </script>
    <!-- <p class="mainPanel__copyright">&copy; Meme Team All Rights Reserved</p> -->
    {% block footer %}
    {% endblock %}
{#</body>#}
</html>